extends ../layouts/main.pug

block content
  h1 Add Product
  form(action="/admin/add-product" method="POST")
    input(type="text", name="title" placeholder="Title")
    button(type="submit") Add Product
